{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4 alert alert-success">
        Konto zostało aktywowane. Teraz można się <a href="{% url 'auth_login' %}">zalogować.</a>
    </div>
{% endblock %}
