{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Logowanie do portalu</h3>

        <form role="form" class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
                <a class="btn btn-link" href="{% url 'auth_password_reset' %}">Nie pamiętasz hasła?</a>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}