{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Zmiana hasła</h3>
        <form role="form" class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Ustaw nowe hasło</button>
        </form>
    </div>
{% endblock %}
