{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Zmiana hasła</h3>
        <p class="alert alert-success">Hasło zostało zmienione.</p>
    </div>
{% endblock %}
