{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Zmiana hasła</h3>

        <div class="alert alert-info ">
            <p>Email został wysłany. Proszę sprawdzić skrzynkę.</p>

            <p>Jeśli email nie dotrze
                w przeciągu kilku minut, proszę sprawdzić katalog SPAM.</p>
        </div>
    </div>
{% endblock %}