{% extends "base.html" %}{% load bootstrap3 %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Zmiana hasła</h3>
        {% if validlink %}
            <p class="alert alert-info">Proszę podać nowe hasło:</p>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Zmień hasło</button>
                {% endbuttons %}
            </form>

        {% else %}
            <div class="alert alert-danger">Podany link jest nieprawidłowy.</div>
        {% endif %}
    </div>
{% endblock %}