{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <form class="form col-md-4 col-md-offset-4" method="post">
        <h3>Zmiana hasła</h3>

        <p class="alert alert-info">Proszę wprowadzić adres email powiązany z Twoim kontem. Zostanie na niego wysłany link, po którego kliknięciu
            będzie można wprowadzić nowe hasło.
            Formularz <strong>nie</strong> poinformuje, czy wprowadzony adres znajduje się w bazie.</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-danger">Zresetuj hasło</button>
        {% endbuttons %}
    </form>
{% endblock %}
