{% extends 'base.html' %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h2>Rejestracja zamknięta!</h2>
        <div>
            Rejestracja jest możliwa wyłącznie za pośrednictwem pracowników sklepu.
        </div>
    </div>

{% endblock %}
