{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h3>Rejestracja</h3>

        <p class="alert alert-info">Na podany adres email została wysłana informacja z instrukcją dalszego postępowania.</p>

    </div>
{% endblock %}