{% extends 'base.html' %}{% load lending_tags %}

{% block content %}
    <h3>Rezerwacje użytkowników</h3>
<ul>
    {% for cart in object_list|remove_empty_carts %}
    <li><a href="{% url 'player:show_cart' cart.owner.username %}">{{ cart.owner.get_full_name }}</a> (pozycji: {{ cart.items.count }})</li>
    {% empty %}
        Brak koszyków
{% endfor %}
</ul>
{% endblock %}