{% extends 'base.html' %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.js"></script>
    <script src="{{ STATIC_URL }}js/libs/ui-bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/app/games_list.js"></script>
{% endblock %}
{% load fontawesome_tags %}
{% block content %}
    <div ng-app="KlubStrefy" class="container">

        <h3>Gry dostępne w wypożyczalni</h3>

        <div class="row">
            <div class="col-md-4">
                <input class="form-control" placeholder="Wyszukaj..." ng-model="searchGames" autofocus>
            </div>
            {#            <div class="col-md-8">&nbsp;</div>#}
        </div>
        <div ng-controller="ListCtrl" >

            <div ng-show="list_loading"><i class="fa fa-refresh fa-spin"></i></div>
            <table  class="table table-hover col-md-12" ng-hide="list_loading">
                <thead>
                <tr>
                    <th>Dost.</th>
                    <th>Tytuł</th>
                    <th>Kod</th>
                    <th>Kiedy zwrot</th>
                    <th>Przetrzymano</th>
                    <th>Osoba</th>
                    {% if user.is_staff %}<th>Zwrot</th> <th>Do koszyka</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | filter:searchGames">
                    <td><span ng-if="item.available == true"
                              class="text-success">{% fa_icon 'check' 'Dostępna' %}</span>
                        <span ng-if="item.available == false"
                              class="text-danger">{% fa_icon 'times' 'Niedostępna' %}</span></td>
                    <td><a href="{$ item.link $}">{$ item.game.name $}</a></td>
                    <td><a href="{$ item.link $}">{$ item.barcode $}</a></td>
                    <td>{$ item.when_will_be_back $}</td>
                    <td>{$ item.overdue $}</td>
                    <td><a href="{$ item.lagger_link $}" ng-if="item.lagger_link">{$ item.lagger_name $}</a></td>
                    {% if user.is_staff %}
                        <td>
                            <form method='post'
                                  action="{% url 'lending:make_it_so' %}?next={% firstof request.path '/' %}"
                                  ng-hide="item.available">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{$ item.id $}">
                                <input type="hidden" name="action" value="return">
                                <button class="btn btn-xs btn-danger">Zwrot</button>
                            </form>
                        </td>
                        <td>
                            <form method='post'
                                  action="{% url 'lending:make_it_so' %}?next={% firstof request.path '/' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{$ item.id $}">
                                <input type="hidden" name="action" value="add_to_cart">
                                <button class="btn btn-xs btn-success" ng-show="item.available && !item.reserved">Rezerwacja</button>
                                <button class="btn btn-xs btn-warning" ng-hide="item.available">Przedłużenie</button>
                                <button class="btn btn-xs btn-danger" ng-show="item.reserved" disabled>Rezerwacja</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}
