{% extends 'base.html' %}{% load lending_tags league_tags %}

{% block content %}
    <div class="col-md-5">
    <h2>{{ object.game.name }}</h2> szczegóły gry wkrótce
    </div>
    {% lending_form %}
    {% if user.is_staff %}
        <div class="col-md-10">
        <h4>Ostatnie wypożyczenia</h4>
        <table class="table table-striped">
            <tr><th>Osoba</th><th>Wypożyczenie</th><th>Zwrot</th><th>Dekl. dni</th></tr>
            {% for l in object.lendit_set.all|slice:":5" %}
            <tr><td>{% link_user l.person %}</td><td>{{ l.when }}</td><td>{{ l.returned }}</td><td>{{ l.days }}</td></tr>
        {% endfor %}</table>
        </div>

    {% endif %}
{% endblock %}
