{% extends 'base.html' %}{% load avatar_tags bootstrap3 league_tags fontawesome_tags lending_tags %}

{% block content %}
<form method="post" class="form col-md-6" action="{% url 'player:personal_lend' slug=player.username %}">
    {% csrf_token %}
    {% bootstrap_formset formset %}
{% buttons %}
    <button type="submit" class="btn">Zapisz</button>
{% endbuttons %}
</form>
{% endblock %}
