{% extends 'base.html' %}

{% block content %}
    <h3>{{ cart.owner.get_full_name }} - koszyk</h3>
    {% if cart.items.count %}
    <form method="post" role="form" class="col-md-4 col-md-offset-4 table-responsive">
    {% csrf_token %}{% if user.is_staff %}<label>Ososba: </label> {{ form.person }}{% endif %}
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Tytuł</th>
                <th>Ile dni</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.items.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.game.name }}</td>
                    <td><input class="form-control input-sm" type="number" name="item-days:{{ item.id }}" value="1"></td>
                    <td><input class="form-control input-sm" type="checkbox" name="item-del:{{ item.id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-info" name="action" value="save" >Zapisz</button>
        <button type="submit" class="btn btn-danger" name="action" value="empty">Usuń zawartość</button>

    </form>
    {% else %}
    Koszyk jest pusty
    {% endif %}
{% endblock %}
