{% if items %}
<table class="table table-striped">
<tr><th>Tytuł</th><th>Wydano</th><th>Na ile dni</th>
    {% if user.is_staff or user.is_superuser %}<th>
        <form method="post" action="{% url 'lending:make_it_so' %}?next={% firstof request.path '/' %}">{% csrf_token %}
            <input type="hidden" name="action" value="return_all">
            <input type="hidden" name="player" value="{{ player.username }}">
            <button class="btn btn-xs btn-danger">Zwróć wszystkie</button></form></th>{% endif %}</tr>
    {% for item in items %}{% with item.item.overdue as overdue %}
    <tr{% if overdue == 0 %} class="warning"{% elif overdue > 0 %} class="danger"{% endif %}><td>{{ item.item.game.name }}</td><td>{{ item.when }}</td><td>{{ item.days }}</td>
        {% if user.is_staff or user.is_superuser %}<td>
            <form method='post' action="{% url 'lending:make_it_so' %}?next={% firstof request.path '/' %}">
                {% csrf_token %}
                <input type="hidden" name="item" value="{{ item.item_id }}">
                <input type="hidden" name="action" value="return">
                <button class="btn btn-xs btn-info">Zwrot</button>
            </form>
        </td>{% endif %}</tr>{% endwith %}
{% endfor %}</table>
{% else %}
    Brak aktualnie wypożyczonych gier
{% endif %}
