{% load lending_tags fontawesome_tags bootstrap3 league_tags %}
{% if user.is_superuser or user.is_staff %}
    <form action="{% url 'lending:make_it_so' %}" method="post" class="form col-md-4">
    {% csrf_token %}
{#    <h3>Wypożyczanie</h3>#}
{#    <input type="hidden" name="person" value="{{ lender.pk }}">#}
{#    <input type="hidden" name="action" value="multilend">#}
{#    {{ form.as_p }}#}
{#    {% buttons %}#}
{#        <button type="submit" class="btn btn-primary">Wypożycz</button>#}
{#    {% endbuttons %}#}
    {{ form.as_p }}
    {% for form in inline %}
        {% bootstrap_form form %}
    {% endfor %}


    </form>
{% endif %}