{% load lending_tags fontawesome_tags bootstrap3 league_tags %}
{% if is_away %}
    <div>
    Wypożyczony{% if user.is_authenticated %} przez: {% link_user lender %}{% endif %}
    </div>
    <div>Przewidywana data zwrotu: {{ item.when_will_be_back }}</div>
    {% if user.is_staff or user == lender %}<div>{% with item.overdue as od %}{% if od > 0 %}Przetrzymano: {{ od }} {{ od|pluralize:'dzień,dni' }}{% endif %}{% endwith %}</div>{% endif %}
{% endif %}
{% if user.is_superuser %}
    <form action="{% url 'lending:make_it_so' %}" method="post" class="form col-md-4">
        {% csrf_token %}
        {% if is_away %}
            <h3>Zwrot do wypożyczalni</h3>
            <input type="hidden" name="action" value="return">
            <input type="hidden" name="item" value="{{ item.id }}">
            {% buttons %}
                <button type="submit" class="btn btn-primary">Zwrot</button>
            {% endbuttons %}
        {% else %}
            <h3>Wypożyczanie</h3>
            <input type="hidden" name="item" value="{{ item.id }}">
            {% bootstrap_field form.person %}
            {% bootstrap_field form.days %}
            <input type="hidden" name="action" value="lend">
            {% buttons %}
                <button type="submit" class="btn btn-primary">Wypożycz</button>
            {% endbuttons %}
        {% endif %}
    </form>
    <div class="col-md-2">
        <h5>Opcje wypożyczenia:</h5>
        {% regroup item.game.category.gamecategoryoption_set.all by days as option_list %}
    <ul>{% for opt in option_list %}
        <li>{{ opt.list.0.days }} {{ opt.list.0.days|pluralize:"dzień,dni"}}: {{ opt.list.0.price }} zł</li>{% endfor %}
    </ul>
    </div>
{% endif %}
