{% if items %}
    <h3>Aktualnie wypożyczone</h3>{% load bootstrap3 %}{% load fontawesome_tags %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Wypożyczono</th>
            <th>Kiedy zwrot</th>
            <th>Przetrzymano</th>
            <th>Osoba</th>
            <th>Zwrot</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% with item.item.overdue as overdue %}
                <tr{% if overdue > 0 %} class="bg-danger"{% elif overdue == 0 %} class="bg-warning"{% endif %}>
                    <td><a href="{% url 'lending:item_detail' item.item_id %}">{{ item.item.game.name }}</a></td>
                    <td>{{ item.when }}</td>
                    <td>{{ item.item.when_will_be_back }}</td>
                    <td>{{ item.item.overdue }}</td>
                    <td><a href="{% url 'player:detail' item.person.username %}">{{ item.person.get_full_name }}</a></td>
                    <td>
                        <form method='post'
                              action="{% url 'lending:make_it_so' %}?next={% firstof request.path '/' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item" value="{{ item.item.id }}">
                            <input type="hidden" name="action" value="return">
                            <button class="btn btn-xs btn-danger">Zwrot</button>
                        </form>
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}