{% if items %}
<table class="table table-striped">
<tr><th>Tytuł</th><th>Wydano</th><th>Zwrot</th><th>Przetrz.</th></tr>
    {% for item in items %}
    <tr{% if item.late > 0 %} class="danger"{% endif %}><td>{{ item.item.game.name }}</td><td>{{ item.when }}</td><td>{{ item.returned }}</td><td>{{ item.late }}</td></tr>
{% endfor %}</table>
{% else %}
    Brak historii wypożyczonych gier
{% endif %}
