{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Strefa Gry - {{ title }}{% endblock %}

{% block branding %}
<style type="text/css">
  #header
  {
    /* your style here */
  }
</style>
<h1 id="site-name">Strefa Gry</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

