{% extends 'base.html' %}{% load league_tags %}{% load fontawesome_tags %}{% load fontawesome_tags %}

{% block content %}
{% with leagueseason.enroll_allowed as enroll_allowed %}
    <h3>{{ leagueseason.name }}
        <small>{{ leagueseason.start_date }} - {{ leagueseason.end_date }}</small>
    </h3>
    {% if not enroll_allowed %}
        {% if user.is_staff %}
        <form action="{% url 'league:give_prizes' slug=leagueseason.slug %}" method="post">
{#        {% csrf_token %}{% prep_formset leagueseason as prep_fs %}#}
        {% csrf_token %}
            {% endif %}
        <p>Wydawanie nagród</p>
    {% endif %}{% prep_prize_data leagueseason as full_prize_data %}
    <ol class="col-md-5">
        {% for player in object.get_ranks %}{% if user.is_authenticated %}
            {% times_played_this_season user player as times_played %}{% endif %}
            <li>{% if not enroll_allowed %}{% prep_form full_prize_data player as has_pize %}
                {% if has_pize %}
                    {% fa_icon 'check-square-o' 'Wydano nagrodę' %}
                {% elif user.is_staff %}
                    <input type="checkbox" name="user:{{player.username}}">
                {% else %}
                    {% fa_icon 'square-o' 'Nie wydano nagrody' %}
                {% endif %}
            {% endif %}{% if user.is_authenticated %}
                <span class="text-{% if player.username == user.username %}info{% elif times_played == 0 %}success{% elif times_played < leagueseason.max_matches %}warning{% else %}danger{% endif %}">
                {% if player.username == user.username %}
                    {% fa_icon 'arrow-right' %}{% else %}{% fa_icon 'circle' %}{% endif %}
                </span> {% endif %}{% link_user player %} - {{ player.points }} pkt
            </li>
        {% endfor %}
    </ol>
    {% if user.is_authenticated %}
        <div class="col-md-4">

            <h4>Legenda</h4>
            <ul style="list-style: none; margin-left: 0; padding-left: 0;">
                <li><span class="text-info">{% fa_icon 'arrow-right' %}</span> Twoja pozycja</li>
                <li><span class="text-danger">{% fa_icon 'circle' %}</span> graliście max</li>
                <li><span class="text-warning">{% fa_icon 'circle' %}</span> graliście, ale nie max</li>
                <li><span class="text-success">{% fa_icon 'circle' %}</span> jeszcze nie graliście</li>
            </ul>

        </div>{% endif %}
    {% if user.is_staff %}
        {% if enroll_allowed %}
            <div class="col-md-4">{% season_enroll_form %}</div>
            {% else %}
            <div class="col-md-4"><button class="btn" type="submit">Wydaj nagrody</button></div>
        {% endif %}
    {% endif %}
    {% if not enroll_allowed and user.is_staff %}
        </form>
    {% endif %}
    {% endwith %}
{% endblock %}
