{% extends 'base.html' %}

{% block content %}
    {% if active %}
        <h3>Aktywne ligi</h3>
        <ul>{% for sezon in active %}
            <li><a href="{% url 'league:detail' sezon.slug %}">{{ sezon.name }}</a> ({{ sezon.start_date }}
                - {{ sezon.end_date }})
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if past %}
        <h3>Archiwalne ligi</h3>
        <ul>{% for sezon in past %}
            <li><a href="{% url 'league:detail' sezon.slug %}">{{ sezon.name }}</a> ({{ sezon.start_date }}
                - {{ sezon.end_date }})
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
