{% extends "base.html" %}{% load avatar_tags %}{% load bootstrap3 %}{% load league_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-1"><img src="{% avatar_url player %}" class="img-thumbnail"></div>
        <h2 class="col-md-5">{{ player.get_full_name }}</h2>
    </div>
    <div class="col-md-6">
    <h4>Historia pieczątek</h4>
    <ul>{% for r in reward_list %}
    <li>{{ r.when|date:"Y-m-d" }} {% if r.comment %}{{ r.comment }}{% else %}{{ r.category.name }}{% endif %} ({{ r.orig_value }})</li>

    {% endfor %}</ul>
    </div>
{% endblock %}
