{% extends "base.html" %}{% load avatar_tags bootstrap3 league_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-1"><img src="{% avatar_url player %}" class="img-thumbnail"></div>
        <h2 class="col-md-5">{{ player.get_full_name }}</h2>
    </div>
    <div class="col-md-6">
        <h4>Wszystkie mecze</h4>{% player_seasons player as seasons %}
        <ul class="nav nav-tabs" role="tablist">{% for season in seasons %}
            <li{% if forloop.first %} class='active'{% endif %}><a href="#season-{{ season.slug }}" role="tab" data-toggle="tab">{{ season.name }}</a></li>
        {% endfor %}</ul>
        <div class="tab-content">
            {% for season in seasons %}
                <div class="tab-pane{% if forloop.first %} active{% endif %}" id="season-{{ season.slug }}">
                    {% season_matches season player as match_list %}
                    {% include 'league/tag_lastmatches.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
