{% extends 'base.html' %}{% load bootstrap3 %}{% load avatar_tags %}{% load league_tags %}

{% block content %}
    <form action="" method="post" class="form col-md-4 col-md-offset-4">
        {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
            <button type='submit' class="btn btn-primary">Wyślij</button>
        {% endbuttons %}
    </form>
{% endblock %}
