{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
    <form action="" method="post" class="form col-md-4 col-md-offset-4">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn-primary btn" type="submit">Dodaj</button>
        {% endbuttons %}
    </form>
{% endblock %}
