{% if user.is_authenticated and player != user %}{% load league_tags %}
    <h4>Graliście</h4>
    {% for season in season_list %}{% times_played_this_season user player as times_played %}
    {% if times_played < season.max_matches %}
        <div class="alert alert-info"><strong>{{ season.name }}:</strong> {{ times_played }}</div>
    {% else %}
        <div class="alert alert-warning"><strong>{{ season.name }}:</strong> {{ times_played }} (max)</div>
    {% endif %}
{% endfor %}{% endif %}
