{% load league_tags fontawesome_tags %}{% current_seasons as current_seasons %}
<ul>{% for match in match_list %}{% with_me match as i_played_this %}
    <li{% if player != user and i_played_this and not match.ignore %}
        class="bg-success"{% elif player != user and i_played_this and match.ignore %}
        class="bg-danger text-muted"{% elif match.ignore %}
        class="text-muted"{% endif %}>{% if match.ignore %}<s title="Mecz nadliczbowy - zignorowany!">{% endif %}{% if match.season in current_seasons %}
        <span class="text-success" title="aktualny sezon">{% fa_icon "check-circle-o" %}{% else %}
        <span class="text-danger" title="archiwalny sezon">
        {% fa_icon "ban" %}{% endif %}</span> {{ match.when|date:"Y-m-d" }}
    {% for result in match.matchresult_set.all %}
        {% if result.player != user %}{% link_user result.player %}{% else %}{% fullname result.player %}{% endif %}
        {% if not forloop.last %}:{% endif %}
    {% endfor %}
        ({% for result in match.matchresult_set.all %}{{ result.games_won }}{% if not forloop.last %} :
    {% endif %}{% endfor %})
    {% if match.ignore %}</s>{% endif %}</li>
{% endfor %}
</ul>
