{% load bootstrap3 %}
<h4>Dopisz graczy do ligi</h4>
<form action="{% url 'league:enroll' slug=season.slug %}" method="post">
    {% csrf_token %}
    <input name="action" value="enroll" hidden>
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-primary" type="submit">Dopisz</button>
    {% endbuttons %}
</form>
