{% extends 'base.html' %}{% load collector_tags %}

{% block content %}
    <h3>{{ object.name }}</h3>
    <p class="col-md-4">{{ object.base.oracle_rules }}</p>
    <ul>{% for rp in object.get_reprints %}
    <li><a href="{% url 'collector:mtg_card' pk=rp.pk slug=rp.expansion.abbrev.lower %}">{{ rp.expansion.abbrev }}({{ rp.rarity }})</a></li>
    {% endfor %}</ul>
{% endblock %}
