{% extends 'base.html' %}

{% block content %}
    <ul>{% for obj in object_list %}
    <li><a href="{% url 'collector:mtg_card' pk=obj.pk slug=expansion.abbrev.lower %}">{{ obj.name }}</a></li>
    {% endfor %}</ul>
{% endblock %}