{% extends 'base.html' %}

{% block content %}
    <h3>{{ object.name }}</h3>
    <p class="col-md-4">{{ object.oracle_rules }}</p>
    <p>{% for print in object.mtgcard_set.all %}{{ print }}{% endfor %}</p>
{% endblock %}
