{% extends "base.html" %}

{% block content %}
    <h2>Magic: The Gathering</h2>
    <h3>Dodatki:</h3>
    {# dorzucić sortowanie | kolejność: najnowsze na wierzchu #}
<ul>
{% for obj in object_list %}
    <li><a href="{% url 'collector:mtg_exp' slug=obj.abbrev.lower %}">{{ obj.name }}</a></li>

{% endfor %}
</ul>

{% endblock %}