{% extends 'base.html' %}{% load avatar_tags bootstrap3 league_tags fontawesome_tags lending_tags %}

{% block content %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-1" id="avatar"{% if user == player or user.is_staff or user.is_superuser %}
             role="button" data-toggle="popover" data-html="true"
             data-content="<a href='{% url 'avatar_change' %}'>Edytuj</a>"
             data-trigger="click"{% endif %}><img src="{% avatar_url player %}" class="img-thumbnail"></div>
        <h2 class="col-md-5">{{ player.get_full_name }}</h2>
    {% if player != user %}
        <div class="col-md-3">
            <div class="row">{% canweplay player %}</div>
        </div>
    {% else %}
    <div class="col-md-3 pull-right">
    <h4>Edycja profilu</h4>
    <ul class="fa-ul">
        <li><a href="{% url 'auth_password_change' %}" ><span class="fa-li fa fa-key fa-fw"></span> Zmiana hasła</a></li>
    </ul>
    </div>
    {% endif %}

    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Ligowe</a></li>
        {% if user.is_staff or user.is_superuser or user == player %}
            <li><a href="#rental" data-toggle="tab">Wypożyczenia</a></li> {# dorzucić alert jeśli coś jest przetrzymane #}
            <li><a href="#detal" data-toggle="tab">Prywatne</a></li>
        {% endif %}
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="main">
            <div class="col-md-6">
                <h4>Ostatnie mecze{#% if user.is_authenticated %#}
                    <a href="{% url 'player:match_history' player.username %}">{% fa_icon 'chevron-circle-right' %}</a>
{#                    {% if user.is_staff or user.is_superuser %} <a href="{% url 'player:stamp_add' player %}">{% fa_icon 'plus-circle text-success' %}</a>{% endif %}#}
                {#% endif %#}</h4>
                {% lastmatches player %}
            </div>
            {% if player == user or user.is_staff %}
                {# private stuff #}
                <div class="col-md-3">
                    <h4>Pieczątki <a
                            href="{% url 'player:stamp_history' player.username %}">{% fa_icon 'chevron-circle-right' %}</a>{% if user.is_staff or user.is_superuser %} <a href="{% url 'player:stamp_add' player.username %}">{% fa_icon 'plus-circle text-success' %}</a>{% endif %}
                    </h4>
                    {% get_player_games player as games_list %}
                    <ul>{% for game in games_list %}
                        <li><strong>{{ game.name }}:</strong> {% league_stamps player game %}</li>
                    {% endfor %}</ul>
                </div>
            {% endif %}
        </div>
    {% if user.is_staff or user.is_superuser or user == player %}
        <div class="tab-pane" id="detal">
            <h4>Te dane są widoczne tylko dla Ciebie i pracowników sklepu!</h4>
            <div class="container row">
                <div class="col-md-6">
                    <div class="row">
                        {% fa_icon 'building-o' 'Adres' %} {{ player.profile.address }}
                    </div>
                    <div class="row">
                        {% fa_icon 'phone' 'Telefon' %} <a href="tel:{{ player.profile.phone }}">{{ player.profile.phone }}</a>
                    </div>
                    <div class="row">
                        {% fa_icon 'envelope-o' 'Email' %} <a href="mailto:{{ player.email }}">{{ player.email }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="rental">
            <h4>Historia wypożyczeń</h4>
        <div class="col-md-5">
            <h5>Aktualne</h5>
            {% lending_current %}
        </div>
        <div class="col-md-7">
            <h5>Historyczne</h5>
            {% lending_history %}
        </div>
        </div>

    {% endif %}
    </div>
{% endblock %}

{% block endjs %}
    {% if player == user or user.is_staff or user.is_superuser %}
        <script type="text/javascript">

            $(document).ready(function () {
                $('#avatar').popover({placement: 'auto left'});

            });

        </script>
    {% endif %}
{% endblock %}
