{% extends 'base.html' %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.js"></script>
    <script src="{{ STATIC_URL }}js/libs/ui-bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/app/player_list.js"></script>
{% endblock %}

{% block content %}
    <div ng-app="KlubStrefy" class="container">

        <h3>Klubowicze</h3>

        <div class="row">
            <div class="col-md-4">
                <input class="form-control" placeholder="Wyszukaj..." ng-model="searchPlayers" autofocus>
            </div>
        </div>
        <div ng-controller="ListCtrl">
            <div ng-show="list_loading"><i class="fa fa-refresh fa-spin"></i></div>
            <table class="table table-hover col-md-6" ng-hide="list_load">
                <thead>
                <tr>
                    <th>imię i nazwisko</th>
                    <th>nr karty</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | filter:searchPlayers">
                    <td><a href="{$ user.link $}">{$ user.first_name $} {$ user.last_name $}</a></td>
                    <td><a href="{$ user.link $}">{$ user.club_card.barcode $}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
