{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
    <h3>403</h3>
    <p class="alert alert-warning">{% bootstrap_icon "warning-sign" %} Brak uprawnień do wyświetlenia strony.</p>
    </div>
{% endblock %}
