{% extends "base.html" %}{% load bootstrap3 %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
    <h3>404</h3>
    <p class="alert alert-warning">{% bootstrap_icon "question-sign" %} Nie znaleziono strony</p>
    </div>
{% endblock %}