<li class="dropdown">{% load fontawesome_tags bootstrap3 %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% fa_icon 'cogs' %} Administracja <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'league_utils:add-player' %}">{% fa_icon 'plus-circle' %} Dodaj klubowicza</a></li>
        <li><a href="{% url 'league_utils:enroll' %}">{% fa_icon 'sign-in' %} Zapisz do ligi</a></li>
        <li><a href="{% url 'league_utils:add-match' %}">{% bootstrap_icon 'tower' %} Dodaj mecz</a></li>
        <li><a href="{% url 'admin:league_tournament_add' %}">{% fa_icon 'upload' %} Wgraj wyniki turnieju</a></li>
        <li><a href="{% url 'league_utils:add-stamps' %}">{% fa_icon 'book' %} Dodaj pieczątki</a></li>
{#        <li><a href="{% url 'league_utils:list-carts' %}">{% fa_icon 'shopping-cart' %} Rezerwacje gier</a></li>#}
        <li class="divider"></li>
        <li><a href="{% url 'admin:index' %}">{% fa_icon 'exclamation-circle' %} Panel admina</a></li>
    </ul>
</li>
