<!DOCTYPE html>{% load bootstrap3 %}{% load fontawesome_tags %}{% load league_tags %}{% load django_select2_tags %}{% load lending_tags %}
<html lang="pl">
<head>
    <title>{% block title %}Klub Strefy Gry{% block subtitle %}{% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% bootstrap_css %}
    {% fa_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Resp  ond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    {% import_django_select2_js_css %}
    {% block css %}{% endblock %}
</head>
<body style="padding-top:70px;">
<!--  please pardon, but this is really important to catch spammers -->
<a href="http://epodomes.org/forum/spellboundroad.php?cfm=487" style="display: none;">years</a>

<div style="display: none;"><a href="http://epodomes.org/forum/spellboundroad.php?cfm=487">years</a></div>
<!-- <a href="http://epodomes.org/forum/spellboundroad.php?cfm=487">years</a> -->
<!-- normal webpage follows -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Rozwiń menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Klub Strefy Gry <span class="badge warning" style="position: relative; bottom:-10px; left: -20px; z-index: -5;">beta</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>{% include "league/navbar.html" %}</li>
                <li>{% include "players/navbar.html" %}</li>
                <li>{% include "lending/navbar.html" %}</li>
                <li>{% include "collector/navbar.html" %}</li>
                {#<li>{% include "trader/navbar.html" %}</li>#}
            </ul>
            {# logowanie / link do profilu #}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.is_superuser %}
                        {% include 'admin_dropdown.html' %}
                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% fa_icon "user" %} {% fullname user %} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'player:detail' user.username %}">{% fa_icon 'home' %} Profil</a></li>
                            {% if user.is_staff %}{% get_cart_items user as cart_items %}
                            <li><a href="{% url 'player:show_cart' user.username %}">{% fa_icon 'shopping-cart' 'Koszyk'%} Koszyk ({{cart_items.count}})</a> </li>{% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}">{% fa_icon "power-off" %} Wyloguj</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="{% url 'registration_register' %}" class="navbar-right">{% fa_icon 'plus-square' %}
                        Zarejestruj się</a></li>
                    <li><a href="{% url 'auth_login' %}" class="navbar-right">{% fa_icon "sign-in" %} Zaloguj się</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function () {
        var u = (("https:" == document.location.protocol) ? "https" : "http") + "://stats.kozaczko.info/";
        _paq.push(["setTrackerUrl", u + "piwik.php"]);
        _paq.push(["setSiteId", "13"]);
        var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.defer = true;
        g.async = true;
        g.src = u + "piwik.js";
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><!-- Piwik Image Tracker -->
    <img src="http://stats.kozaczko.info/piwik.php?idsite=13&amp;rec=1&action_name=Strefa-Liga" style="border:0"
         alt=""/>
    <!-- End Piwik --></noscript>
<!-- End Piwik Code -->
{% block endjs %}{% endblock %}
</body>
</html>
