{% extends 'base.html' %}{% load lending_tags %}

{% block subtitle %} - Strona główna{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Strona główna</h1>

        {% if user.is_staff %}
            <div class="container">

                {% rental_report %}

                <h3>Wiadomości dla załogi</h3>

                <p><strong>2014-08-08</strong> Przyspieszenie wypożyczalni! Na liście gier w wypożyczalni znajduje się
                    teraz informacja o statusie gry oraz przycicki
                    "Zwrot" i "Rezerwacja" ("Przedłuż" jeszcze nie działa). Kliknięcie na "Rezerwacja" powoduje dodanie
                    pozycji do koszyka dostępnego poprzez górny
                    panel użytkownika. Po przejściu do koszyka można ustawić użytkownika, któremu chcemy gry wypożyczyć
                    (domyślnie: zalogowany użytkownik!), wprowadzić
                    liczbę dni, ewentualnie zaznaczyć rezygnację z danej pozycji (kolumna "Usuń"). Po kliknięciu
                    "Zapisz" gry zostaną wypożyczone, a na ekranie pojawi
                    się podsumowanie operacji. Kliknięcie "Usuń zawartość" spowoduje opróżnienie całego koszyka.</p>

                <p><strong>2014-08-08</strong> Ułatwienie dodawania nowych użytkowników. W menu "Administracja" po
                    wybraniu opcji "Dodaj klubowicza" pojawia
                    się uproszczony formularz rejestracyjny. Podajemy w nim dane osobowe, email oraz ewentualnie numer
                    karty klubowej (zalecane!).
                    Po kliknięciu "Wyślij" użytkownik otrzymuje hasło dostępowe (generowane przez serwer) na podanego
                    mejla.
                </p>
            </div>

        {% endif %}

    </div>
{% endblock %}
